@{
    Layout = null;
}

<div class="MetroPanel">
    <a href="/User?userId=@Model">Thông Tin</a>
    <a href="/Location?userId=@Model">Địa chỉ</a>
    <a href="/Place/ByUser?userId=@Model">Địa điểm đã tạo</a>
    <a href="/Arrived?userId=@Model">Địa điểm đã tới</a>
</div>

